@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Sofia Sans Semi Condensed','Open Sans', sans-serif;
    user-select: none;
  }

  body {
    @apply dark:bg-grizzly-100 bg-gray-400 text-black dark:text-white m-8
  }

  button {
    @apply h-min px-2 py-1 rounded-lg shadow-lg text-white disabled:opacity-50 bg-grizzly-0 border-2 border-t-white/10 border-l-white/10 border-b-black/20 border-r-black/20 bg-gradient-to-br from-black/20 to-transparent
  }

  a {
    @apply hover:text-lightBlue transition-colors duration-300
  }

  dialog[open] {
    @apply bg-gray-400 dark:bg-grizzly-100 rounded-lg shadow-lg text-black dark:text-white;
    animation: dialogopen cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms forwards;
  }
  dialog[open].shrink {
    animation: dialogclose ease 300ms forwards;
  }
  dialog::backdrop {
    @apply bg-purple-100/50
  }

  var {
    @apply text-lightBlue bg-grizzly-150;
  }

  pre {
    user-select: text
  }

  input, select {
    @apply rounded-lg p-4 text-black
  }
  select {
    height: 56px
  }
}

@layer utilities {
  .pane-gradient {
    @apply via-purple-0/20;
    background-color: white;
    background-image:
    radial-gradient(farthest-corner at 70% 90%, var(--tw-gradient-stops));
  }
  
  .dark-pane-gradient {
    @apply bg-grizzly-100;
    background-image:
      radial-gradient(closest-side at center, var(--tw-gradient-stops));
  }

  .etched {
    @apply dark:bg-grizzly-100/50 bg-white/50 rounded-lg border border-t-purple-100/10 border-l-purple-100/10 border-b-white/10 border-r-white/10
  }

  .light-pane {
    @apply border-r-black/30 border-b-black/30 border-t-white/50 border-l-white/50;
  }
  .dark-pane {
    @apply border-r-purple-100/10 border-b-purple-100/10 border-t-white/10 border-l-white/10;
  }
  .font-permanent-marker {
    font-family: 'Permanent Marker', 'Comic Sans', sans-serif;
  }
}

@layer components {
  .pane {
    /* @apply bg-gradient-to-r from-grizzly-90 to-purple-50/40 p-8 rounded-lg shadow-lg; */
    @apply dark:to-grizzly-85 dark:from-purple-95 to-grizzly-0/20 from-yellow-400/20 p-8 rounded-lg shadow-lg border-2 light-pane dark:dark-pane pane-gradient dark:dark-pane-gradient;
    /* @apply p-8 rounded-lg shadow-lg; */
    /* radial-gradient(farthest-corner at top right, var(--tw-gradient-stops)); */
    /* background-position: top 0 left 0; */
    background-attachment: fixed;
    animation: floating-g 300s linear infinite forwards;
  }

  .dash-card {
    @apply flex flex-wrap gap-4 items-center justify-center etched
  }
}

@keyframes floating-g {
  0% {
    background-size: 500% 500%;
    background-position: top right;
  }
  
  30% {
    background-size: 200% 500%;
    background-position: bottom;
  }
  60% {
    background-size: 500% 200%;
    background-position: top left;
  }
  
  100% {
    background-size: 500% 500%;
    background-position: top right;
  }
}

@keyframes dialogopen {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes dialogclose {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}